.table-responsive .table img {
  max-width: 100px; 
  height: auto;
}

.table td,
.table th {
  text-align: center; 
  vertical-align: middle; 
}

@media (max-width: 768px) {
  .table td,
  .table th {
    font-size: 12px;
    white-space: nowrap; 
  }
}
